.home {
    display: flex;


    .container {

        flex: 6;
    }

    .widgets,
    .chart {
        display: flex;
        padding: 10px;
        gap: 20px;

    }

    .chart {}
}